// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";

// Pages
@import "pages/todo-app";
@import "pages/todo-edit";
@import "pages/todo-details";

// Components
@import "cmps/todo-preview";
@import "cmps/todo-filter";
@import "cmps/nice-button";
@import "cmps/list-header";




//Footer
.app {
   min-height: 100vh;
   position: relative;

   main.container {
       padding-bottom: 150px;
   }

    .app-footer {
        background-color: #021c45;
        color: $clr1;
        width: 100%;
        position: absolute;
        bottom: 0;
        .container {
            display: flex;
            align-items: center;
        }
    }
}




