// Colors
$clr1: #ffffff;
$clr2: #293241;
$clr3: #b962ef;
$clr4: #72a6fa;
$clr5: #bbbcbc;
$clr6: #696969;
$gradient: linear-gradient(to right, rgb(178, 80, 239), rgb(64, 134, 246));

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;